*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "copperplate", fantasy;
}

body {
   
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(174, 92, 72);
    display: flex;
    justify-content: center;
    align-items: center;

}
#timer {
    position: absolute;
    top: 0px;
    right: 0px;
}
.container {
    border-radius: 5px;
    background-color: rgb(112, 14, 14);
    width: 800px;
    max-width: 80%;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.choicebutton {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: rgb(36, 120, 92);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(247, 245, 242);
    outline: none;
}

.btn:hover {
    background-color: gray;
    cursor: pointer;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}